<section class="form-section">

  <div>
    <label>
      Base
      <select name="base" [(ngModel)]="selectedCurrency">
        <option *ngFor="let item of baseCurrencies " [value]="item">{{item}}</option>
      </select>
    </label>
  </div>

  <div>
    <label>
      Date
      <input type="date" name="date" [(ngModel)]="selectedDate" required value="{{selectedDate}}"/>
    </label>
  </div>

  <div>
    <button (click)="onChange()">Display</button>
  </div>

</section>

<section class="table-section">

  <table>
    <thead>
    <tr>
      <th sortColumn [sortKey]="'name'" [data]="bankRates" class="sortable" (mouseup)="onClick()">Currency<i [ngClass]="{'up': sortedDirectionUp, 'down': sortedDirectionDown}"></i></th>
      <th>Sell</th>
      <th>Buy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rate of bankRates ">
      <td>{{rate.name}}</td>
      <td>{{rate.sell}}</td>
      <td>{{rate.buy}}</td>
    </tr>
    </tbody>
  </table>

</section>
